@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/Avenir Next/AvenirNext-Bold.ttf');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/Avenir Next/AvenirNext-BoldItalic.ttf');
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/Avenir Next/AvenirNext-DemiBold.ttf');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/Avenir Next/AvenirNext-DemiBoldItalic.ttf');
	font-style: italic;
	font-weight: 600;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/Avenir Next/AvenirNext-Heavy.ttf');
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/Avenir Next/AvenirNext-HeavyItalic.ttf');
	font-style: italic;
	font-weight: 900;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/Avenir Next/AvenirNext-Italic.ttf');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/Avenir Next/AvenirNext-Medium.ttf');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/Avenir Next/AvenirNext-MediumItalic.ttf');
	font-style: italic;
	font-weight: 500;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/Avenir Next/AvenirNext-Regular.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/Avenir Next/AvenirNext-UltraLight.ttf');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/Avenir Next/AvenirNext-UltraLightItalic.ttf');
	font-style: italic;
	font-weight: 200;
}
