@font-face{
	font-family: 'UniNeueBlack';
	src: url('../fonts/Uni Neue/Uni Neue Black/Fontfabric - UniNeueBlack.otf');
}

@font-face{
	font-family: 'UniNeueBook';
	src: url('../fonts/Uni Neue/Uni Neue Book/Fontfabric - UniNeueBook.otf');
}

@font-face{
	font-family: 'UniNeueLight';
	src: url('../fonts/Uni Neue/Uni Neue Light/Fontfabric - UniNeueLight.otf');
}

@font-face{
	font-family: 'UniNeueBold';
	src: url('../fonts/Uni Neue/Uni Neue Bold/Fontfabric - UniNeueBold.otf');
}

@font-face{
	font-family: 'UniNeueHeavy';
	src: url('../fonts/Uni Neue/Uni Neue Heavy/Fontfabric - UniNeueHeavy.otf');
}

@font-face{
	font-family: 'UniNeueRegular';
	src: url('../fonts/Uni Neue/Uni Neue Regular/Fontfabric - UniNeueRegular.otf');
}

@font-face{
	font-family: 'UniNeueThin';
	src: url('../fonts/Uni Neue/Uni Neue Thin/Fontfabric - UniNeueThin.otf');
}

@font-face{
	font-family: 'ProximaNova';
	src: url('../fonts/Proxima Nova/Mark Simonson - Proxima Nova.otf');
}

@font-face{
	font-family: 'ProximaNovaLight';
	src: url('../fonts/Proxima Nova/Mark Simonson - Proxima Nova Light.otf');
}

@font-face{
	font-family: 'ProximaNovaSemibold';
	src: url('../fonts/Proxima Nova/Mark Simonson - Proxima Nova Semibold.otf');
}

@font-face{
	font-family: 'ProximaNovaRegular';
	src: url('../fonts/Proxima Nova/Mark Simonson - Proxima Nova.otf');
}

@font-face{
	font-family: 'ProximaNovaBold';
	src: url('../fonts/Proxima Nova/Mark Simonson - Proxima Nova Bold.otf');
}

body{
	font-size: 12px;
}