body {
    font-family: 'Avenir Next', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: rgb(96, 96, 96);

    background: #f9f9f9;
    position: relative;
    overflow-x: hidden;
    padding: 15px 15px 10px 65px;
}

.red-highlight {
    /*font-weight: 500;*/
    color: #E05475;
}

.blue-highlight {
    /*font-weight: 500;*/
    color: rgb(0, 137, 203);
}

.tab {
    font-size: 14px;
    /*font-weight: 500;*/
    /*line-height: 36px;*/
    color: #737373;
    text-align: center;
    padding: 15px 0 0;
    cursor: pointer;
}

.tab.active {
    border-bottom: 4px solid rgb(0, 137, 203);
    color: #2E2E2E;
    font-family: 'AvenirNextDemiBold';
}

.flex{
    display: flex;
    display: -webkit-flex;
}

.flex-sm-1{
    flex: 1;
}

.f_mg1{
    margin-right: 15px;
}

.global_ob_container{
    background: #f9f9f9;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #e8e8e8;
}

.global_ob_container__lgtitle, .realtime_qf_container__lgtitle{
    padding: 17px 20px 5px;
    font-size: 20px;
    font-weight: 600;
    color: #2E2E2E;
    white-space: nowrap;
    font-family: 'AvenirNextDemiBold';
}

.realtime_qf_container{
    background: #f9f9f9;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid #e8e8e8;
}

.global_ob__table{
    margin-top: 0px;
    /*max-height: 630px;*/
}

.global_ob__table__header{
    font-size: 13px;
    /*font-weight: 500;*/
    /*line-height: 24px;*/
    color: #737373;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    background: #fff;
    border-top: 1px solid #e8e8e8;
    padding: 16px 10px 6px 15px;
}

.global_ob__table__header.realtime{
    padding-right: 25px;
}

.global_ob__table__header > div{
    flex: 1;
    text-align: left;
    white-space: nowrap;
}

.global_ob__table__header span{
    font-size: 12px;
}

.global_ob__table__row{
    display: flex;
    display: -webkit-flex;
    padding: 2px 10px 2px 15px;
    border-top: 1px solid #e8e8e8;
    color: #2E2E2E;
    font-size: 13px;
    background: #fff;
}

.global_ob__table__row:hover{
    background: #f3f3f3;
    cursor: pointer;
}

.global_ob__table__row.last{
    padding-top: 12px;
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;;
}

.global_ob__table__row > div{
    flex: 1;
}

.spread {
    font-size: 17px;
    font-weight: 600;
    color: #2E2E2E;
    background: #f9f9f9;
    text-align: center;
    padding: 10px;
    justify-content: center;
    border-top: 1px solid #e8e8e8;
    font-family: 'AvenirNextDemiBold';
}

.spread > .spread_mg1{
    margin-right: 40px;
}

.global_ob__table__content__box{
    height: 552px;
    overflow-y: auto;
}

.orders_container{
    background: #f9f9f9;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 8px;
    border: 1px solid #e8e8e8;
}

.orders_container__header{
    border-bottom: 1px solid #e8e8e8;
}

.orders_container__content{
    padding: 10px;
    background: #fff;
}

.orders_container__lgtitle{
    padding: 10px 20px 5px;
    font-size: 20px;
    font-weight: 600;
    color: #2E2E2E;
    white-space: nowrap;
    font-family: 'AvenirNextDemiBold';
}

.orders_item{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    font-size: 15px;

    margin-bottom: 10px;
    color: #2E2E2E;
}

.orders_item__border{
    border-right: 1px solid #e8e8e8;
}

.orders_item__label{
    width: 70px;
    margin-right: 20px;
    font-size: 14px;
}

.orders_item__value{
    flex: 2;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
}

.orders_item__value:hover{
    border: 1px solid #929292;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.46);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.46);
}

.orders_item__value > input{
    flex: 3;
    width: 100%;
    border: 0;
    padding-left: 10px;
    outline: none;
    background: transparent;
    height: 26px;
}

.orders_item__value > input:hover{
    cursor: pointer;
}

.orders_item__value > input:focus .orders_item__value{
    border: 1px solid #929292;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.46);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.46);
}

.orders_item__value > div{
    flex: 1;
    text-align: center;
}

.btn_buy_eth{
    background: #2874c0;
    color: #fff;
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin-top: 15px;
    border: 0;
    border-radius: 5px;
    font-family: "AvenirNextDemiBold"
}

.btn_sell_eth{
    background: #f40067;
    color: #fff;
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin-top: 15px;
    border: 0;
    border-radius: 5px;
    font-family: "AvenirNextDemiBold"
}

.pd-sm-1{
    padding-right: 5px;
}

.pd-sm-2{
    padding-left: 5px;
}

.orders_menu{
    min-width: 180px;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 10px;
    margin-top: 28px;
    margin-bottom: 10px;
}

.slider {
    width: 100%;
    height: 10px;
    background: transparent;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

.slider::-webkit-slider-thumb {
    position: relative;
    width: 40px;
    height: 30px;
    margin-top: 0px;
    background-color: white;
    border: 2px solid #737373;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    z-index: 1;
}

.slider::-moz-range-thumb {
    position: relative;
    width: 40px;
    height: 30px;
    margin-top: -32px;
    background-color: white;
    border: 2px solid #737373;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}

.slider::-ms-thumb {
    position: relative;
    width: 40px;
    height: 30px;
    margin-top: -32px;
    background-color: white;
    border: 2px solid #737373;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}

.slider::-webkit-slider-thumb:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border: 2px solid #737373;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 2;
}

.slider::-moz-range-thumb:after {
    content: '';
    position: absolute;
    right: -10px;
    top: 10px;
    width: 10px;
    height: 10px;
    border: 2px solid #737373;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 2;
}

.slider-steps {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
}

.slider-step {
    border-left: 2px solid #737373;
    flex: 1;
}

.slider-step:last-child {
    border-right: 2px solid #737373;
}

.slider-line {
    position: absolute;
    left: 0;
    top: 4px;
    width: 100%;
    height: 2px;
    background-color: #737373;
}


/**
    Side Bar
 */
.sidebar{
    background: #2C232B;
    width: 50px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    padding: 20px 6px;
}

.sidebar__avatar__box{
    position: relative;
    cursor: pointer;
}

.sidebar__avatar{
    width: 100%;
    border-radius: 4px;
}

.sidebar__avatar__badge{
    width: 22px;
    height: 22px;
    border-radius: 50% 50%;
    background: #E05475;
    color: #fff;
    position: absolute;
    top: -7px;
    right: -7px;
    z-index: 120;
    border: 1px solid #000;
    font-size: 9px;
    text-align: center;
    padding-top: 4px;
    font-family: 'AvenirNextDemiBold';
}

.sidebar__ico{
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.sidebar__label{
    color: #A6A6A6;
    padding-top: 7px;
    font-size: 11px;
}

.sidebar__refresh{
    width: 80%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.bottom_controls{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-bottom: 10px;
}

.bottom_controls__icon{
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.8);
    cursor: pointer;
}

/**
    Exchange Title Header
 */
.exchange_header__title{
    background: #0576B9;
    width: 100%;
    height: 50px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: flex;
    display: -webkit-flex;
    padding: 13px 10px;
}

.exchange_header__title .exchange_header__title__label{
    flex: 1;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-family: "AvenirNextMedium";
}

.exchange_header__title img{
    width: 30px;
    margin-top: 3px;
}

@media (max-width: 1600px) {
    .exchange_header__title img {
        width: 20px;
    }
    .exchange_header__title .exchange_header__title__label{
        font-size: 13px;
        padding-top: 4px;
    }
}

@media (max-width: 1262px) {
    .exchange_header__title img {
        width: 13px;
        margin-top: 5px;
    }
    .exchange_header__title .exchange_header__title__label{
        font-size: 11px;
        padding-top: 6px;
    }
}

@media (max-width: 992px) {
    .exchange_header__title img {
        width: 30px;
        margin-top: 1px;
    }
    .exchange_header__title .exchange_header__title__label{
        font-size: 18px;
        padding-top: 0;
    }
    .exchange_header__title{
        margin-top: 15px;
    }
}

.exchange_header__droplist{
    border: 1px solid #d6d6d6;
    width: 100%;
    height: 50px;
    border-radius: 4px;

    display: flex;
    display: -webkit-flex;
    padding: 9px 15px;

    cursor: pointer;
}

@media (max-width: 992px) {
    .exchange_header__droplist {
        margin-top: 15px;
    }
}

.exchange_header__droplist__input{
    flex: 1.8;
}

.exchange_header__droplist__coin{
    margin-left: 15px;
    display: flex;
    display: -webkit-flex;
    align-items: center;

    color: #2E2E2E;
    font-family: "AvenirNextDemiBold";
    font-size: 15px;
}

.exchange_header__droplist__coin img{
    height: 35px;
    margin-right: 10px;
}

.exchange_header__droplist__coin i{
    margin-left: 10px;
    color: #737373;
}

.exchange_header__droplist__input__note{
    font-size: 9px;
}

.exchange_header__droplist__input__value{
    color: #2E2E2E;
    font-family: "AvenirNextDemiBold";
    font-size: 15px;
}


/*Graph Tool*/
.graph_tool{
    background: #fff;
    width: 100%;
    height: 575px;
    margin-top: 20px;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


/*Account tool*/
.account_group{
    background: #fff;
    width: 100%;
    height: 265px;
    margin-top: 15px;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


/**/
@media (max-width: 1350px) {
    .global_ob__table__header{
        font-size: 12px;
    }

    .global_ob_container__lgtitle, .realtime_qf_container__lgtitle{
        font-size: 14px;
    }
}

@media (max-width: 1280px) {
    .global_ob__table__header{
        font-size: 10px;
    }
}

@media (max-width: 992px) {
    body{
        overflow-y: auto;
    }

    .pd-sm-1{
        padding-right: 15px;
    }

    .pd-sm-2{
        padding-left: 15px;
    }

    .global_ob__table__header{
        font-size: 12px;
    }

    .realtime_qf_container{
        margin-top: 20px;
    }

    .global_ob_container__lgtitle, .realtime_qf_container__lgtitle{
        font-size: 20px;
    }

    .orders_item__border{
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    body {
        padding-left: 15px;
    }

    .sidebar {
        display: none;
    }
}